{%extends "layaut.html"%}
{% block links %}
    <link href="{{ url_for('static', filename='css/estilos_forms.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/estilos_ventas.css') }}" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block container %}
    <div class="container-fluid">
        <div class="row">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div style="display: flex; justify-content: center;">
                    {% for category, message in messages %}
                        <div style="width: 800px; margin-top: 10px;" class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
            <div class="col-6">
                <div class="card-user">
                    <img src="https://cdn-icons-png.flaticon.com/128/5408/5408490.png" alt="Corte Caja">
            
                    <h3>Registrar Datos</h3>
                    <h5>Detalle Venta</h5>
            
                    {%import "_macros.html" as macro%}
                    <form action="{{ url_for('venta.registrar_venta') }}" method="post" novalidate>
                        {{ form.csrf_token }}
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        
                        {{macro.camposNuevos(form.tipo_venta, class="form-select")}}
                        <div class="form-grid">
                            <div class="form-item">
                                <label for="tipo_galleta">Tipo Galleta:</label>
                                <select name="tipo_galleta" id="tipo_galleta" class="form-select" required>
                                    <option value="">Eligá un tipo de venta...</option>
                                </select>
                            </div>
                            <div class="form-item">
                                <label for="lote">Lotes:</label>
                                <select name="lote" id="lote" class="form-select" required>
                                    <option value="">Eligá un tipo de galleta...</option>
                                </select>
                                <input type="hidden" id="existencia_lote" name="existencia_lote">
                                <input type="hidden" id="fecha_caducidad_lote" name="fecha_caducidad_lote">
                            </div>
                            <div class="form-item">
                                {{macro.camposNuevos(form.cantidad,class="form-control", placeholder="Cantidad")}}
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="custom-button-container">
                                <button type="submit" class="custom-btn"
                                        title="Registrar">
                                        <i class="fa-solid fa-circle-plus"></i> Agregar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-6">
                <div class="custom-table-container" style="margin-top: 50px;">
                    <table class="custom-table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Tipo</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Subtotal</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in detalle_venta %}
                            <tr>
                                <td>{{ item.nombre }}</td>
                                <td>{{ item.tipo }}</td>
                                <td>{{ item.cantidad }}</td>
                                <td>${{ item.precio_unitario }}</td>
                                <td>${{ item.subtotal }}</td>
                                <td>
                                    <form action="{{ url_for('venta.eliminar_detalle', session_id=loop.index0) }}" method="post">
                                        {{ form.csrf_token }}
                                        <button class="custom-btn" type="submit">Eliminar</button>
                                    </form>
                                </td>                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="custom-extra-section">
            <div class="custom-button-container">
                <a href="{{ url_for('venta.ventas') }}" class="custom-btn" style="text-decoration: none;">
                    <i class="fas fa-arrow-left"></i> Regresar
                </a>
                <form action="{{ url_for('venta.cancelar_venta') }}" method="post">
                    {{ form.csrf_token }}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button class="custom-btn">
                        <i class="fa-solid fa-ban"></i> Cancelar
                    </button>
                </form>
                <form action="{{ url_for('venta.finalizar_venta') }}" method="post" id="cobrar-form">
                    {{ form.csrf_token }}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button class="custom-btn" id="cobrar-btn">
                        <i class="fa-solid fa-money-check-dollar"></i> Cobrar
                    </button>
                </form>
            </div>
        </div>
    </div>


    <script src="/static/js/ventas.js"></script>
{% endblock %}