body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d17a45;
}


.header {
    margin-left: 200px;
    margin-top: 55px;
}

.custom-header {
    margin-left: 200px;
    margin-top: 30px;
}

.header {
    margin-left: 200px;
    margin-top: 55px;
    margin-bottom: 20px;
    background-color: #a65323;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: relative;
    width: 81%;
    border-radius: 50px;
}

.logo {
    margin-top: 13px;
}

.logo {
    margin-top: 13px;
    margin-left: 15px;
    width: 125px;
    height: 125px;
    position: absolute;
    top: 10px;
    left: 20px;
}


.nav {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px 0;
}


.nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 18px;
    padding-right: 10px;
}

.nav a.activo {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #ECC4A6;
}

.table th,
.table td {
    border: 1px solid #a65323;
    padding: 10px;
    text-align: center;
}

.table th {
    background-color: #F1B384;
}


.custom-nav a.custom-active {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}



/* Modal de ventas */


.carta-alertas {
    background-color: #fff8e1;
    border-left: 5px solid #f57c00;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.carta-alertas h3 {
    margin-top: 0;
    color: #5d4037;
}

.alerta {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.alerta-roja {
    background-color: #ffebee;
    color: #c62828;
    border-left: 4px solid #c62828;
}

.alerta-amarilla {
    background-color: #fffde7;
    color: #f9a825;
    border-left: 4px solid #f9a825;
}