<<<<<<< HEAD
body {
=======
.custom-background {
>>>>>>> b889815efcad80dd780a42fff6f67154d69c9bea
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d17a45;
}

<<<<<<< HEAD
.header {
    margin-left: 200px;
    margin-top: 55px;
=======
.custom-header {
    margin-left: 200px;
    margin-top: 30px;
>>>>>>> b889815efcad80dd780a42fff6f67154d69c9bea
    margin-bottom: 20px;
    background-color: #a65323;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: relative;
    width: 81%;
    border-radius: 50px;
}

<<<<<<< HEAD
.logo {
    margin-top: 13px;
=======
.custom-logo {
>>>>>>> b889815efcad80dd780a42fff6f67154d69c9bea
    margin-left: 15px;
    width: 125px;
    height: 125px;
    position: absolute;
    top: 10px;
    left: 20px;
}

<<<<<<< HEAD
.nav {
=======
.custom-nav {
>>>>>>> b889815efcad80dd780a42fff6f67154d69c9bea
    margin-top: 20px;
    margin-bottom: 20px;
}

<<<<<<< HEAD
.nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px 0;
}

.nav a {
=======
.custom-nav a {
>>>>>>> b889815efcad80dd780a42fff6f67154d69c9bea
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 18px;
    padding-right: 10px;
}

<<<<<<< HEAD
.nav a.activo {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #ECC4A6;
}

.table th,
.table td {
    border: 1px solid #a65323;
    padding: 10px;
    text-align: center;
}

.table th {
    background-color: #F1B384;
}

=======
.custom-nav a.custom-active {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}
>>>>>>> b889815efcad80dd780a42fff6f67154d69c9bea
