<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQFmp7HQWD4DgAn8A7lLLOmDL7JHEuHjVNcbPttI3lCz2Pr8rYcmD2Dlc" crossorigin="anonymous">
<link href="{{ url_for('static', filename='css/estilos_ordenes.css') }}" rel="stylesheet" type="text/css" />

{% extends "layaut.html" %}
{% import "_macros.html" as macros %}
{% block container %}

<main class="main">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Galleta</th>
                    <th>Fecha Entrega</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for orden in ordenes %}
                <tr class="{% if orden.urgente %}table-warning{% endif %}">
                    <td>{{ orden.galleta }}</td>
                    <td>{{ orden.fecha }}</td>
                    <td>
                        <span class="badge 
                            {% if orden.estado == 'INACTIVO' %}bg-secondary
                            {% elif orden.estado == 'TERMINADAS' %}bg-primary
                            {% elif orden.estado == 'ENTREGADAS' %}bg-success
                            {% elif orden.estado == 'CANCELADO' %}bg-danger
                            {% else %}bg-info{% endif %}">
                            {{ orden.estado }}
                        </span>
                    </td>
                    <td>
                        <button
                            onclick="window.location.href='{{ url_for('orden.detalles_receta', id_detalle=orden.id_detalle) }}'"
                            class="btn btn-sm btn-outline-primary border-0" aria-label="Detalles">
                            <svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"
                                viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                <path fill="#000000"
                                    d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336l24 0 0-64-24 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l48 0c13.3 0 24 10.7 24 24l0 88 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-80 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
                            </svg>
                        </button>
                        <button
                            onclick="window.location.href='{{ url_for('orden.merma_galleta', galleta_id=obtener_id_galleta_por_orden(orden.id_detalle)) }}'"
                            class="btn btn-sm btn-outline-primary border-0" aria-label="Registrar merma" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" height="14" width="14" viewBox="0 0 512 512">
                                <path fill="#000000"
                                    d="M257.5 27.6c-.8-5.4-4.9-9.8-10.3-10.6c-22.1-3.1-44.6 .9-64.4 11.4l-74 39.5C89.1 78.4 73.2 94.9 63.4 115L26.7 190.6c-9.8 20.1-13 42.9-9.1 64.9l14.5 82.8c3.9 22.1 14.6 42.3 30.7 57.9l60.3 58.4c16.1 15.6 36.6 25.6 58.7 28.7l83 11.7c22.1 3.1 44.6-.9 64.4-11.4l74-39.5c19.7-10.5 35.6-27 45.4-47.2l36.7-75.5c9.8-20.1 13-42.9 9.1-64.9c-.9-5.3-5.3-9.3-10.6-10.1c-51.5-8.2-92.8-47.1-104.5-97.4c-1.8-7.6-8-13.4-15.7-14.6c-54.6-8.7-97.7-52-106.2-106.8zM208 144a32 32 0 1 1 0 64 32 32 0 1 1 0-64zM144 336a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm224-64a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
                            </svg>
                        </button>
                        {% if orden.estado != 'ENTREGADAS' %}
                        <form action="{{ url_for('orden.completar_orden', id_detalle=orden.id_detalle) }}" method="POST"
                            style="display: inline;">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <button type="submit" class="btn btn-sm btn-outline-success">
                                <svg xmlns="http://www.w3.org/2000/svg" height="14" width="14"
                                    viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                    <path fill="#050505"
                                        d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" />
                                </svg>
                            </button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4" class="text-center">No hay órdenes registradas</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br><br>
    <div class="mb-3">
        <a href="{{ url_for('orden.merma_orden') }}" class="btn btn-outline-warning">
            Registrar Merma de Insumo
        </a>
    </div>

</main>



{% endblock %}