<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La tradicional - Clientes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
    <link href="{{ url_for('static', filename='css/estilos_layout_clientes.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>

    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">

    <!-- Menu -->
    <header class="header">
        <h2>Compras del cliente</h2>
    </header>

    {% block container %}
    {% endblock %}
</body>

</html>